@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7FF;
}

.navigation {
  position: fixed;
  width: 100%;
  background-color: #0B5351;
  padding: 0.5em 0;
  top: 0;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container > a {
  text-decoration: none;
  color: #F7F7FF;
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.flex-container > a:hover {
  background-color: #2f7c7a;
}

.main-header {
  width: 60%;
  margin: 6em auto 2em auto;
  background-color: #0B5351;
  color: #F7F7FF;
  text-align: center;
  padding: 0.75em 0.50em;
  font-size: 0.90em;
  border-radius: 20px;
}

.contact {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
}

.contact > p {
  margin-right: auto;
}

.contact a > img {
  margin-right: 3em;
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border-radius: 50%;
}

.contact a > img:hover {
  background-color: rgb(211, 210, 210);
}

.my-picture {
  margin: 2em auto;
  width: 50%;
}

.my-picture > img {
  width: 100%;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  width: 60%;
}

.about-me div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me div > img {
  box-sizing: border-box;
  padding: 5% 0;
  width: 75%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: rgb(211, 210, 210);
}

footer > img {
  width: 5%;
  padding: 2%;
}

fieldset {
  margin: 2em auto 0;
  width: 60%;
  border-radius: 10px;
}

fieldset > legend {
  background-color: #2f7c7a;
  margin-left: 2em;
  border-radius: 10px;
  padding: 1em 1.5em;
  color: #F7F7FF;
}

.center-form {
  padding: 1em 0;
  text-align: center;
  margin: auto;
}

.checkboxes {
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

[type="text"] {
  margin-top: 0.5em;
  padding: 0.5em 1em;
}

[type="text"]:focus, textarea {
  outline-color: #0B5351;
}

.ranking-intro, .favorites-intro {
  width: 60%;
  margin: auto;
}

.ranking-websites {
  padding: 3em 10em;
  margin: auto;
}

.website-image {
  display: block;
  margin: auto;
  width: 40%;
}

.links {
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: rgb(161, 159, 159);
  color: #F7F7FF;
  border-radius: 25px;
  font-size: 100%;
}

.links:hover {
  background-color: rgb(211, 210, 210);
}

.lists-flexbox {
  display: flex;
  align-items: center;
}

.website-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-description > p {
  width: 65%;
}

img[src="./images/umaru-chan-watching.png"], img[src="./images/curious-chitanda.gif"] {
  display: block;
  margin: auto;
  width: 40%;
}

.anime-list {
  box-sizing: border-box;
  padding: 2em 0;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  margin: auto;
  width: 90%;
  background-color: rgb(211, 210, 210);
  border-radius: 25px;
}

.anime-picture {
  display: block;
  margin: auto;
  padding: 0.5em;
  border-radius: 10px;
  width: 50%;
}

.anime-picture:hover {
  background-color: #2f7c7a;
}

.anime-list div {
  padding: 1em;
  background-color: rgb(161, 159, 159);
  margin: auto;
  width: 80%;
  border-radius: 25px;

}

.anime-list div > p {
  color: #F7F7FF;
  text-align: justify;
  width: 75%;
  margin: auto;
}
